      /*AJUSTE DE CUERPO*/
.App {
  text-align: center;
}
body{
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D0C4B2;
}

         /*NAVEGACION*/
nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #692701;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
a{
  color: #E5DAC8;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}


      /*PAGINA DE INICIO Y DISENO DE POST HOME*/
.Home{
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.Home .PostHome{
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: #E0E0E0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.PostHome .CabezaPost {
  display: flex;
  justify-content: center;
  width: 100%;
}
.CabezaPost .Titulo {
  flex: 50%;
}
.PostHome .ContainerPost {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

        /*PAGINA DE LOGIN*/
.login{
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login p{
  font-size: 30px;
}


         /*BOTON DE GOOGLE*/
.BTNLogin{
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
      
        /*DISENO DE CREACION DE POSTS*/ 
.Posts{
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}
.PostsContainer{
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  color: #692701;
  display: flex;
  flex-direction: column;
}
.PostsContainer h1{
  text-align: center;
}
.PostsContainer label {
  font-size: 25px;
}
.PostsContainer .SubirPosts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.SubirPosts input,
.SubirPosts textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
  background: none;
  outline: 0;
  border: 0;
}
.SubirPosts input{
  height: 40px;
}
.SubirPosts input:focus, 
.SubirPosts input:hover{
  border-bottom: 1px solid #692701;
}
.SubirPosts textarea:focus,
.SubirPosts textarea:hover{
  border-bottom: 1px solid #692701;
}
.SubirPosts textarea {
  height: 100px;
}
.cpContainer button {
  margin: 10px;
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}